
<div class="panel rx-main-panel">
	<div class="panel-heading">
		{{order.erpNumber}} | {{order.status | orderStatusToName}}
	</div>
	<div class="panel-body">
	
		<div class="row">
			<div class="col-lg-4">
				<strong>Date : </strong> {{order.date | date:'yyyy-MM-dd HH:mm:ss'}} <br/>
				<strong>Account : </strong>  <a href="#/{{country}}/customer/{{order.customerId}}">{{order.customerId}} </a><br/>
				<strong>By:</strong>{{order.UserInfo.firstName}}  {{order.UserInfo.lastName}}<br/>
				<strong>Delivery Type : </strong> {{order.Delivery.mode}}
			</div>
			<div class="col-lg-4">
				<strong>Delivery address:</strong><br/>
				{{order.Delivery.address.line1}}, {{order.Delivery.address.line2}}, {{order.Delivery.address.line3}} <br/>
				{{order.Delivery.address.zipCode}} {{order.Delivery.address.city}} <br/>
				{{order.Delivery.address.country}} <br/>
			</div>
			<div class="col-lg-4">
				<strong>Amount:</strong><br/>
				Before Taxes : {{order.Amount.beforeTaxes}}<br/>
				Total : {{order.Amount.afterTaxes}}<br/>
			</div>
		</div>
		<div class="row" >
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th rowspan="2">Product Code</th>
						<th rowspan="2">Quantity</th>
						<th rowspan="2">Expected delivery</th>
						<th colspan="4"><center>Handling orders</center></th>
					<!--	<th>Effective delivery</th> -->
						<th rowspan="2">Status</th>
					</tr>
					<tr>
						<th colspan = "4">
							<div class="row">
								<div class="col-lg-4">Order Ref.</div>
								<div class="col-lg-2">Qty</div>
								<div class="col-lg-2">%</div>
								<div class="col-lg-4">status</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat='line in order.Lines'>
						<td> <a href="#/{{country}}/customer/{{order.customerId}}/product/{{line.code}}"> {{line.code}} </a></td>
						<td> {{line.quantity}} </td>
						<td> {{line.expectedDeliveryDate | date :'yyyy-MM-dd'}} </td>
						<td colspan="4">
							<div class="row" ng-repeat='subLine in line.SubOrders'>
								<div class="col-lg-4">{{subLine.erpNumber}}</div>
								<div class="col-lg-2">{{subLine.quantity}}</div>
								<div class="col-lg-2">{{subLine.quantity / line.quantity * 100}}%</div>
								<div class="col-lg-4">{{subLine.status | orderStatusToName}}</div>
							</div>
						</td>
						<td> {{line.status | orderStatusToName}} </td>
					</tr>

				</tbody> 
			</table>
		</div>
	</div>
</div>
