<div class="panel rx-main-panel">

	<div class="panel-heading"> Late Order : {{nbResults}}</div>
	<div class="panel-body">
		  	<h4 >Statistics <small style="float:right">Late {{nbResults}} / On Time {{onTime}}  </small></h4>
			<div class="progress">
			  		<div class="progress-bar progress-bar-warning" style="width:{{pourcentageLate | number : 0}}%;">
			  		    {{pourcentageLate | number : 0}}% Late
			  		</div>
			  		<div class="progress-bar progress-bar-success" style="width:{{pourcentageOnTime | number : 0}}%;">
			  		    {{pourcentageOnTime | number : 0}}% On Time
			  		</div>
			</div>

		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Order</th>
					<th>Customer</th>
					<th>Delay</th>
					<th>Status</th>
				</tr>

			</thead>
			<tbody >
				<tr ng-repeat=" order in lateOrders">
					<td><a ng-href="#/{{order._index | indexToCountryId}}/order/{{order._id}}">{{order._id}}</a></td>
					<td> <a ng-href='#/{{order._index | indexToCountryId}}/customer/{{order._source.customerId}}'>{{order._source.customerId}}</a></td>
					<td><div ng-if="order.fields.delay[0]!=0">{{order.fields.delay[0]| date:'yyyy-MM-dd'}}
						<span ng-hide="{{order.fields.delay[0]| date:'yyyy-MM-dd'}}!={{getCurrentDate()}}"> Same day delivery</span></div>
						<div ng-if="order.fields.delay[0]==0">missing expected delivery date </div></td>
					<td>{{order._source.status| orderStatusToName}}</td>
				</tr>


			</tbody>
		</table>
	</div>
	<div class="panel-footer  text-center form-inline" ng-hide="nbResults < pageSize">
		
	  	<input style="width:100px" class="form-control" type="number" ng-model="pageNum" ng-change="navToPage(pageNum)"  min="1" max="{{pageRange[pageRange.length - 1]}}"> / {{pageRange[pageRange.length - 1]}} 	

	</div><!--footer -->
</div>