
<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-4" rxgbm-details-customer>
		</div>
		<div class="col-lg-4" rxgbm-amount-orders>
		</div>
		<div class="col-lg-4" rxgbm-statics-order>
		</div>
	</div>
	<!--<div class="row" rxgbm-stacked-chart-orders></div>-->
	
	<div class="row" rxgbm-list-orders></div>
	<div class="row">
		<div class="col-lg-6" rxgbm-list-favorite-products>
		</div>
		<div class="col-lg-6" rxgbm-list-never-bought>
		</div>

	</div>

	<!-- <div ng-hide="customer.country=='_all'"class="col-lg-5" rxgbm-list-products="customer"></div>

	<div ng-controller="CustomerPageContextCtrl">
		<div class="row">
			<div class="col-lg-12" rxgbm-stacked-chart-orders ="customer" date-range="dateRange">
			</div>
			<div class="col-lg-12" rxgbm-bar-chart-orders ="customer" date-range="dateRange">
			</div> 
		</div>
		<div class="row">
			<div class="col-lg-7" rxgbm-list-orders="customer">
			</div>

		</div>
		<div class="row" ng-hide="order==''" >
			<div class="col-lg-8 row">

				<div class="col-lg-12" rxgbm-details-order="order">
				</div>
			</div>
			<div class="col-lg-4" rxgbm-list-events="order.Events">
			</div>
		</div>
	</div> -->
</div>
<!--CONTENT -->






