<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 panel rx-main-panel" style="background-color: #f5f5f1;">
			<div class="panel-heading">
				Product {{productId}}
			</div>
			<div class="panel-body" style="padding:0px">
				<div rxgbm-details-product>	</div>
			</div>
		</div>

		<div class="col-lg-offset-1 col-lg-7 row ">
			<div class="row">
				<div class="panel rx-main-panel">
					<div class="panel-heading">
						Customer behavior on website
					</div>
					<div class="panel-body">
						<div rxgbm-stacked-chart-product-score>	</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel rx-main-panel">
					<div class="panel-heading">
						# customer orders
					</div>
					<div class="panel-body">
						<div rxgbm-stacked-chart-product-orders>	</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="panel rx-main-panel">
					<div class="panel-heading">
						Customer price evolution 
					</div>
					<div class="panel-body">
						<div rxgbm-line-chart-product-price>	</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 text-left text-info"></div>
			</div>
			<div class="row">
				<div class="col-lg-12"  ></div>
			</div>
		</div>
	</div>
</div>